<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.password">tiger</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="hibernate.connection.username">system</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <!-- Option Elements -->
        <!-- Debugging and understanding -->
        <property name="show_sql">true</property>
        
        <!-- To auto generate tables and update the same -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- mandatory mapping document -->
        <mapping resource="Doctor.hbm.xml" />
        <mapping resource="Patient.hbm.xml" />
        <mapping resource="InPatient.hbm.xml" />
        <mapping resource="Assistant.hbm.xml" />
    </session-factory>
</hibernate-configuration>
